<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8EWl-29TBwqFa4u675FMHfYU1N-DQ9Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>739777988856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFlutter</string>
	<key>PROJECT_ID</key>
	<string>chattappproject-4407e</string>
	<key>STORAGE_BUCKET</key>
	<string>chattappproject-4407e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739777988856:ios:b6d34661e662820ce0d30d</string>
</dict>
</plist>